<div class="hosting_m_box m-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 host_m col-12">
                <div class="host_box">
                    <div class="sha_hos">
                        <fa-icon [icon]="faEarth"></fa-icon>
                    </div>
                    <h5>Shared Hosting</h5>
                    <p>Protect it from corruption or unauthorized access</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 host_m col-12">
                <div class="host_box">
                    <div class="sha_hos">
                        <img src="../../assets/images/h2.png" alt="" width="70px">
                    </div>
                    <h5>Wordpress Hosting</h5>
                    <p>Powerful & Cheap Web Packages for your Website</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 host_m col-12">
                <div class="host_box">
                    <div class="sha_hos">
                        <fa-icon [icon]="faServer"></fa-icon>
                    </div>
                    <h5>VPS Hosting</h5>
                    <p>Optimizing web pages & their content to be easily</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="host_m_con">
    <div class="container">
        <div class="host_con">
            <div class="row">
                <div class="col-lg-6">
                    <div class="host_itam">
                        <div class="icon_host">
                            <fa-icon [icon]="faServer"></fa-icon>
                        </div>
                        <div class="icon_con">
                            <h3>LARGEST WEB HOSTING COMPANY</h3>
                            <p>Our Hosting is one of the largest web hosting companies in world wide. Over the years, Our Server Hosting has successfully managed to establish its brand name in the world of web hosting. We are currently hosting thousands of websites of several well-known organizations in world wide. Our Server offers the best yet cheap web hosting in world wide.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="host_itam">
                        <div class="icon_host">
                            <fa-icon [icon]="faHourglassStart"></fa-icon>
                        </div>
                        <div class="icon_con">
                            <h3>LARGEST WEB HOSTING COMPANY</h3>
                            <p>Our Hosting is one of the largest web hosting companies in world wide. Over the years, Our Server Hosting has successfully managed to establish its brand name in the world of web hosting. We are currently hosting thousands of websites of several well-known organizations in world wide. Our Server offers the best yet cheap web hosting in world wide.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="host_itam">
                        <div class="icon_host">
                            <fa-icon [icon]="faEarth"></fa-icon>
                        </div>
                        <div class="icon_con">
                            <h3>LARGEST WEB HOSTING COMPANY</h3>
                            <p>Our Hosting is one of the largest web hosting companies in world wide. Over the years, Our Server Hosting has successfully managed to establish its brand name in the world of web hosting. We are currently hosting thousands of websites of several well-known organizations in world wide. Our Server offers the best yet cheap web hosting in world wide.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="host_itam">
                        <div class="icon_host">
                            <fa-icon [icon]="faExchange"></fa-icon>
                        </div>
                        <div class="icon_con">
                            <h3>LARGEST WEB HOSTING COMPANY</h3>
                            <p>Our Hosting is one of the largest web hosting companies in world wide. Over the years, Our Server Hosting has successfully managed to establish its brand name in the world of web hosting. We are currently hosting thousands of websites of several well-known organizations in world wide. Our Server offers the best yet cheap web hosting in world wide.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
