<section>
    <div class="compa_m_box">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="compa_img">
                        <img src="../../assets/images/images17.jpg" alt="" width="100%">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="compa_img">
                        <img src="../../assets/images/images18.jpg" alt="" width="100%">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="compa_img">
                        <img src="../../assets/images/images19.jpg" alt="" width="100%">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="compa_img">
                        <img src="../../assets/images/images20.jpg" alt="" width="100%">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="compa_img">
                        <img src="../../assets/images/images21.jpg" alt="" width="100%">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="compa_img">
                        <img src="../../assets/images/images17.jpg" alt="" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
