<section>
    <div class="footer_m_box">
        <div class="foote-box">
            <div class="container">
                <div class="footer-box">
                    <div class="row footer">
                        <div class="col-xl-3 col-lg-4">
                            <div class="foot-logo">
                                <a href="" class="d-flex align-items-center">
                                    <img src="../../assets/images/images06.png" alt="">
                                </a>
                            </div>
                            <div class="foot-text">
                                <p>We make registering, hosting, and managing domains for yourself or others easy and affordable, because the internet needs people.</p>
                            </div>
                            <div class="foot-social-icon">
                                <a href="">f</a>
                                <a href="">tw</a>
                                <a href="">google jhjghjghj vvbnvnbvn</a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 col-md-6">
                            <div class="useful">
                                <div class="useful-heading">
                                    <h3>Useful Links</h3>
                                </div>
                                <ul>
                                    <li><a href=""><fa-icon [icon]="faAnglesRight"></fa-icon>Buy a Domain</a></li>
                                    <li><a href=""><fa-icon [icon]="faAnglesRight"></fa-icon>Websites</a></li>
                                    <li><a href=""><fa-icon [icon]="faAnglesRight"></fa-icon>WordPress</a></li>
                                    <li><a href=""><fa-icon [icon]="faAnglesRight"></fa-icon>Hosting</a></li>
                                    <li><a href=""><fa-icon [icon]="faAnglesRight"></fa-icon>Web Security</a></li>
                                    <li><a href=""><fa-icon [icon]="faAnglesRight"></fa-icon>Email & Office</a></li>
                                    <li><a href=""><fa-icon [icon]="faAnglesRight"></fa-icon>Webmail</a></li>
                                    <li><a href=""><fa-icon [icon]="faAnglesRight"></fa-icon>WHOIS</a></li>
                                    <li><a href=""><fa-icon [icon]="faAnglesRight"></fa-icon>ICANN Confirmation</a></li>
                                    <li><a href=""><fa-icon [icon]="faAnglesRight"></fa-icon>Designers & Developers</a></li>
                                    <li><a href=""><fa-icon [icon]="faAnglesRight"></fa-icon>Redeem Code</a></li>
                                    <li><a href=""><fa-icon [icon]="faAnglesRight"></fa-icon>Product Catalog</a></li>
                                    <li><a href=""><fa-icon [icon]="faAnglesRight"></fa-icon>Business Name Generator</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="foot-box">
                                <div class="useful-heading">
                                    <h3>Contact</h3>
                                </div>
                                <div class="contact-foot">
                                    <h6>Address:</h6>
                                    <p><fa-icon [icon]="faMap"></fa-icon> 11 West Town, PB 12345, United States</p>
                                </div>
                                <div class="contact-foot">
                                    <h6>Phone:</h6>
                                    <p class="m-0"><fa-icon [icon]="faPhone"></fa-icon> +1 1234 56 789</p>
                                    <p class="m-0"><fa-icon [icon]="faPhone"></fa-icon> +1 1234 56 780</p>
                                </div>
                                <div class="contact-foot">
                                    <h6>Email:</h6>
                                    <p><fa-icon [icon]="faEnvelope"></fa-icon> info</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-box ">
            <div class="container">
                <div class="row align-items-center text-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="m-0">Hostone - Domain & Hosting © 2024 - Designed by Zr Themes.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="footer-menu text-left">
                            <ul>
                                <li><a href="">Terms & Conditions</a></li>
                                <li><a href="">Privacy Policy</a></li>
                                <li><a href="">Contact</a></li>
                            </ul>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
