<section>
    <div class="hat_m_box">
      <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
                <h2>Get Help?</h2>
                <h5>Call our technical support team at</h5>
                <h2>+91 22 88 44 55 </h2>
                <div class="help-btn">
                    <a href="">Get Help</a>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="hat_m_box1">
      <div class="container">
        <div class="section-title">
            <h2>OUR TEAM</h2>
            <h5>OUR TEAM OF EXPERIENCED PROFESSIONALS IS COMMITTED TO UNDERSTANDING YOUR BUSINESS NEED</h5>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 col-sm-6 d-flex">
                <div class="team-box">
                    <img src="../../assets/images/images10.jpg" alt="" width="100%">
                    <h4>Jhone Bi</h4>
                    <span>Application Manager</span>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6 d-flex">
                <div class="team-box">
                    <img src="../../assets/images/images11.jpg" alt="" width="100%">
                    <h4>Sani Awesome</h4>
                    <span>Social Media</span>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6 d-flex">
                <div class="team-box">
                    <img src="../../assets/images/images12.jpg" alt="" width="100%">
                    <h4>Andrio Willi</h4>
                    <span>Content Writer</span>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6 d-flex">
                <div class="team-box">
                    <img src="../../assets/images/images13.jpg" alt="" width="100%">
                    <h4>Afa Jonson</h4>
                    <span>Business Manager</span>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
