<section>
    <div class="wwg_m_box">
        <div class="container">
            <div class="wwg_title">
                <h2>What We Guarantee?</h2>
                <h5>We guarantee 99.9% network uptime with Safe & Secure connectivity.</h5>
            </div>
            <div class="wwg_con">
                <div class="row">
                    <div class="wwg_con1 col-lg-6 col-md-12">
                        <div class="wwg_tc">
                            <div class="wwg_icon">
                                <fa-icon [icon]="faLifeRing"></fa-icon>
                            </div>
                            <div class="wwg_icon_con">
                                <h3>Technical Support</h3>
                                <p>Our technical support team is available for you 24/7, 365 days a year. We welcome questions and suggestions anytime!</p>
                            </div>
                        </div>
                    </div>
                    <div class="wwg_con1 col-lg-6 col-md-12">
                        <div class="wwg_tc">
                            <div class="wwg_icon">
                                <fa-icon [icon]="faEarth"></fa-icon>    
                            </div>
                            <div class="wwg_icon_con">
                                <h3>99.9% Uptime</h3>
                                <p>We guarantee 99.9% network uptime with Safe & Secure connectivity. Get started in minutes and enjoy our exclusive.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
