<div class="comm_img_box"></div>
<section class="sp">
    <div class="container">
        <div class="section-title section-t section-m">
            <h2>DOMAINS</h2>
            <h5>HERE IS LIST OF AVAILABLE DOMAINS</h5>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row web_pri">
                    <div class="col-lg-5 col-md-12">www.domainname.com  </div>
                    <div class="col-lg-3 col-md-12">$19.00</div>
                    <div class="col-lg-4 col-md-12 text-end">
                        <a class="web_btn" href="">Purchase</a>
                    </div>
                </div>
                <div class="row web_pri">
                    <div class="col-lg-5 col-md-12">www.domainname.net</div>
                    <div class="col-lg-3 col-md-12">$29.00</div>
                    <div class="col-lg-4 col-md-12 text-end">
                        <a class="web_btn" href="">Purchase</a>
                    </div>
                </div>
                <div class="row web_pri">
                    <div class="col-lg-5 col-md-12">www.domainname.co</div>
                    <div class="col-lg-3 col-md-12">$11.00</div>
                    <div class="col-lg-4 col-md-12 text-end">
                        <a class="web_btn" href="">Purchase</a>
                    </div>
                </div>
                <div class="row web_pri">
                    <div class="col-lg-5 col-md-12">www.domainname.biz</div>
                    <div class="col-lg-3 col-md-12">$13.00</div>
                    <div class="col-lg-4 col-md-12 text-end">
                        <a class="web_btn" href="">Purchase</a>
                    </div>
                </div>
                <div class="row web_pri">
                    <div class="col-lg-5 col-md-12">www.domainname.org</div>
                    <div class="col-lg-3 col-md-12">$17.00</div>
                    <div class="col-lg-4 col-md-12 text-end">
                        <a class="web_btn" href="">Purchase</a>
                    </div>
                </div>
                <div class="row web_pri">
                    <div class="col-lg-5 col-md-12">www.domainname.website</div>
                    <div class="col-lg-3 col-md-12">$15.00</div>
                    <div class="col-lg-4 col-md-12 text-end">
                        <a class="web_btn" href="">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>