<div class="comm_img_box"></div>
<section class="sp">
    <div class="container">
        <div class="section-title section-t section-m">
            <h2>CONTACT US</h2>
            <h5>GET IN TOUCH WITH US 24/7</h5>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="form-container-box">
                    <form action="">
                        <div class="form-box">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form_in_box">
                                        <input type="text" placeholder="Name*">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form_in_box">
                                        <input type="text" placeholder="Email*">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form_in_box">
                                        <input type="text" placeholder="Subject*">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form_in_box">
                                        <textarea class="form_add" placeholder="Write Your Message*"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="form_btn">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="Contact-box">
                    <div class="contact-Contact">
                        <h6>Address:</h6>
                        <p class="m-0"><fa-icon [icon]="faMap"></fa-icon> 11 West Town, PB 12345, United States</p>
                        <p><a href="">Get Directions</a></p>
                    </div>
                    <div class="contact-Contact">
                        <h6>Phone:</h6>
                        <p class="m-0"><fa-icon [icon]="faPhone"></fa-icon> +1 1234 56 789</p>
                        <p class="m-0"><fa-icon [icon]="faPhone"></fa-icon> +1 1234 56 780</p>
                    </div>
                    <div class="contact-Contact">
                        <h6>Email:</h6>
                        <p><fa-icon [icon]="faEnvelope"></fa-icon> infofghfdssdf</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="map-box">
    <div class="map-url">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21095.196157453618!2d72.8171349661053!3d21.18523452751722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04fcb7118e4ed%3A0xc3636753787769d3!2sMahadev%20fabrics!5e0!3m2!1sen!2sin!4v1707708689125!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
