<section class="benar">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="row">
                <div class="col-12">
                    <div class="ben_img">
                        <img src="../../assets/images/images07.jpg" alt="" width="100%">
                        <div class="content">
                            <div class="ben_con">
                                <h2>Create a Business site</h2>
                                <h1>Managed WordPress Hosting</h1>
                                <p>Hosting services optimised for WordPress</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="row">
                <div class="col-12">
                    <div class="ben_img">
                        <img src="../../assets/images/images08.jpg" alt="" width="100%">
                        <div class="content">
                            <div class="ben_con">
                                <h2>SUPPORT UNLIMITED DOMAINS - PAY LESS AND SAVE BIG</h2>
                                <h1>Find Best Domain & Hosting</h1>
                                <p>We help find the best domain</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</section>