<div class="comm_img_box"></div>
<section class="sp">
    <div class="container">
        <div class="section-title section-t section-m">
            <h2>BEST HOSTING PLANS</h2>
            <h5>CHECK OUT OUR BEST DEALS ACROSS OUR PRODUCT RANGE, AND GET WHAT YOUR WEBSITE NEEDS</h5>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 price_box">
                <div class="price_con">
                    <div class="price-heading">
                        <div class="price-name">
                            <h3>Startup</h3>
                            <h2>
                                <span class="ds">$</span>
                                55
                            </h2>
                            <span class="vn"> / Month</span>
                        </div>
                        <div class="price_credit">
                            <samp class="credit_img">
                                <div class="fon_cer">Pay online </div>
                                <img class="mar" src="../../assets/images/cc-visa.png" alt="" width="30px">
                                <img class="mar" src="../../assets/images/cc-visa.png" alt="" width="30px">
                                <img class="mar" src="../../assets/images/cc-visa.png" alt="" width="30px">
                                <img src="../../assets/images/cc-visa.png" alt="" width="30px">
                            </samp>
                        </div>
                        <div class="price-body">
                            <ul>
                                <li>
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                    Free Domain
                                </li>
                                <li>
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                    Hosting
                                </li>
                                <li class="offer-list-none">
                                    <fa-icon [icon]="faXmark"></fa-icon>
                                    <span>Lifetime Free Updates</span>
                                </li>
                                <li class="offer-list-none">
                                    <fa-icon [icon]="faXmark"></fa-icon>
                                    <span>Free Cancelation</span>
                                </li>
                                <li class="offer-list-none">
                                    <fa-icon [icon]="faXmark"></fa-icon>
                                    <span>Demo Installation</span>
                                </li>
                                <li class="offer-list-none">
                                    <fa-icon [icon]="faXmark"></fa-icon>
                                    <span>Help center access</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="price_btn_box">
                        <a class="price_btn" href="">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 price_box">
                <div class="price_con">
                      <div class="price-heading">
                        <div class="price-name">
                            <h3>Standard</h3>
                            <h2>
                                <span class="ds">$</span>
                                75
                            </h2>
                            <span class="vn"> / year</span>
                        </div>
                        <div class="price_credit">
                            <samp class="credit_img">
                                <div class="fon_cer">Pay online </div>
                                <img class="mar" src="../../assets/images/cc-visa.png" alt="" width="30px">
                                <img class="mar" src="../../assets/images/cc-visa.png" alt="" width="30px">
                                <img class="mar" src="../../assets/images/cc-visa.png" alt="" width="30px">
                                <img src="../../assets/images/cc-visa.png" alt="" width="30px">
                            </samp>
                        </div>
                        <div class="price-body">
                            <ul>
                                <li>
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                    Free Domain
                                </li>
                                <li>
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                    Hosting
                                </li>
                                <li>
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                    <span>Lifetime Free Updates</span>
                                </li>
                                <li>
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                    <span>Free Cancelation</span>
                                </li>
                                <li class="offer-list-none">
                                    <fa-icon [icon]="faXmark"></fa-icon>
                                    <span>Demo Installation</span>
                                </li>
                                <li class="offer-list-none">
                                    <fa-icon [icon]="faXmark"></fa-icon>
                                    <span>Help center access</span>
                                </li>
                            </ul>
                        </div>
                    </div> 
                    <div class="price_btn_box">
                        <a class="price_btn" href="">Select</a>
                    </div>     
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 price_box">
                <div class="price_con">
                      <div class="price-heading">
                        <div class="price-name">
                            <h3>Premium</h3>
                            <h2>
                                <span class="ds">$</span>
                                120
                            </h2>
                            <span class="vn"> / lifetime</span>
                        </div>
                        <div class="price_credit">
                            <samp class="credit_img">
                                <div class="fon_cer">Pay online </div>
                                <img class="mar" src="../../assets/images/cc-visa.png" alt="" width="30px">
                                <img class="mar" src="../../assets/images/cc-visa.png" alt="" width="30px">
                                <img class="mar" src="../../assets/images/cc-visa.png" alt="" width="30px">
                                <img src="../../assets/images/cc-visa.png" alt="" width="30px">
                            </samp>
                        </div>
                        <div class="price-body">
                            <ul>
                                <li>
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                    Free Domain
                                </li>
                                <li>
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                    Hosting
                                </li>
                                <li>
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                    <span>Lifetime Free Updates</span>
                                </li>
                                <li>
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                    <span>Free Cancelation</span>
                                </li>
                                <li>
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                    <span>Demo Installation</span>
                                </li>
                                <li>
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                    <span>Help center access</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="price_btn_box">
                        <a class="price_btn" href="">Select</a>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>
