<div class="comm_img_box"></div>
<section class="sp">
    <div class="container">
        <div class="section-title section-t section-m">
            <h2>OUR BLOG</h2>
            <h5>READ OUR LATEST NEWS</h5>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a href="">
                    <div class="obg-box">
                        <img src="../../assets/images/images23.jpg" alt="" width="100%">
                        <div class="obg-com">
                            <h4 class="obg-title">Some tips for choosing the perfect domain for your blog</h4>
                            <div class="obg-text">
                                <p>Your domain name is your blog's address on the internet. It's the unique identifier that users type into their browser to reach...</p>
                            </div>
                            <div class="obg-link d-flex">
                                <span>October 10, 2024</span>
                                <span class="link-obg">Read Story</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="">
                    <div class="obg-box">
                        <img src="../../assets/images/images24.jpg" alt="" width="100%">
                        <div class="obg-com">
                            <h4 class="obg-title">Some tips for choosing the perfect domain for your blog</h4>
                            <div class="obg-text">
                                <p>Your domain name is your blog's address on the internet. It's the unique identifier that users type into their browser to reach...</p>
                            </div>
                            <div class="obg-link d-flex">
                                <span>October 10, 2024</span>
                                <span class="link-obg">Read Story</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="">
                    <div class="obg-box">
                        <img src="../../assets/images/images25.jpg" alt="" width="100%">
                        <div class="obg-com">
                            <h4 class="obg-title">Some tips for choosing the perfect domain for your blog</h4>
                            <div class="obg-text">
                                <p>Your domain name is your blog's address on the internet. It's the unique identifier that users type into their browser to reach...</p>
                            </div>
                            <div class="obg-link d-flex">
                                <span>October 10, 2024</span>
                                <span class="link-obg">Read Story</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12">
                <div class="obg-btn text-center">
                    <a class="btn-link" href="">View More Blogs</a>
                </div>
            </div>
            <div class="col-12 mt-4">
                <ul class="pagination justify-content-center mb-0">
                    <li class="page_itam">
                        <a class="page_link" href="">1</a>
                    </li>
                    <li class="page_itam active">
                        <a class="page_link" href="">2</a>
                    </li>
                    <li class="page_itam">
                        <a class="page_link" href="">3</a>
                    </li>
                    <li class="page_itam">
                        <a class="page_link" href="">4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
