@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 26px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
.flex-end {
    justify-content: flex-start;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #333;
    line-height: 1.5;
}
.container{
    max-width: 1140px;
}
.border-right{
    border-right: 1px solid black;
}
.sp{
    padding: 100px 0px;
}
.section-title{
    text-align: center;
    margin-bottom: 40px;
}
.section-title h2{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 1.3;
    color: #333;
}
.section-title h5{
    max-width: 600px;
    color: #ce3b3b;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-family: 'Rajdhani', sans-serif;
    margin: 0 auto;
}
.comm_img_box{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(assets/images/images1.jpg);
    z-index: 1;
    text-align: center;
    position: relative;
    padding: 100px 0;
}
.section-t{
    text-align: start;
}
.section-m h5{
    margin: 0 !important;
}

