<section class="sp">
    <div class="container">
        <div class="section-title">
            <h2>OUR BLOG</h2>
            <h5>READ OUR LATEST NEWS</h5>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a href="">
                    <div class="ob-box">
                        <img src="../../assets/images/images23.jpg" alt="" width="100%">
                        <div class="ob-com">
                            <h4 class="ob-title">Some tips for choosing the perfect domain for your blog</h4>
                            <div class="ob-text">
                                <p>Your domain name is your blog's address on the internet. It's the unique identifier that users type into their browser to reach...</p>
                            </div>
                            <div class="ob-link d-flex">
                                <span>October 10, 2024</span>
                                <span class="link-ob">Read Story</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="">
                    <div class="ob-box">
                        <img src="../../assets/images/images24.jpg" alt="" width="100%">
                        <div class="ob-com">
                            <h4 class="ob-title">Some tips for choosing the perfect domain for your blog</h4>
                            <div class="ob-text">
                                <p>Your domain name is your blog's address on the internet. It's the unique identifier that users type into their browser to reach...</p>
                            </div>
                            <div class="ob-link d-flex">
                                <span>October 10, 2024</span>
                                <span class="link-ob">Read Story</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="">
                    <div class="ob-box">
                        <img src="../../assets/images/images25.jpg" alt="" width="100%">
                        <div class="ob-com">
                            <h4 class="ob-title">Some tips for choosing the perfect domain for your blog</h4>
                            <div class="ob-text">
                                <p>Your domain name is your blog's address on the internet. It's the unique identifier that users type into their browser to reach...</p>
                            </div>
                            <div class="ob-link d-flex">
                                <span>October 10, 2024</span>
                                <span class="link-ob">Read Story</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12">
                <div class="ob-btn text-center">
                    <a class="btn-link" href="">View More Blogs</a>
                </div>
            </div>
        </div>
    </div>
</section>
